<div class="card text-center text-bg-light mb-3">
    <div class="card-body">
        <h3 class="card-title display-2">@Active</h3>
        <form>
            <div class="mb-3">
                <input type="text" class="form-control" id="exampleInputEmail1" minlength="3" maxlength="20"
                    placeholder="Username">
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" id="exampleInputPassword1" minlength="5" maxlength="25"
                    placeholder="Password">
            </div>
            <button routerLink="/activity" type="submit" class="btn btn-primary me-5">Sign up</button>
            <button routerLink="/activity" type="submit" class="btn btn-primary ms-5">Log in</button>
        </form>
    </div>
</div>