<div class="card text-center text-bg-light mb-3 w-50">
    <div class="card-header">
        <h3>Username</h3>
        <ul class="nav nav-tabs card-header-tabs justify-content-center">
            <li class="nav-item me-5">
                <a routerLink="/profile/posts" routerLinkActive="active" class="nav-link" aria-current="true" href="#">Activities</a>
            </li>
            <li class="nav-item ms-5">
                <a routerLink="/profile" class="nav-link" aria-current="true" href="#">Likes</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <router-outlet></router-outlet>
    </div>
</div>