<div class="card text-center text-bg-light mb-3 w-50">
    <div class="card-header">
        <h3>Username</h3>
        <ul class="nav nav-tabs card-header-tabs justify-content-center">
            <li class="nav-item me-5">
                <a routerLink="/profile" routerLinkActive="active" class="nav-link" aria-current="true" href="#">Activities</a>
            </li>
            <li class="nav-item ms-5">
                <a routerLink="/profile" class="nav-link" aria-current="true" href="#">Likes</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>